.alert {
   
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    position: relative;
    

    &--success {
        padding: 21px 47px;
        background: #E51BEF;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        width: 360px;
        display: none;

        &--active {
            display: flex;
        }
        @media screen and (max-width: 480px) {
            width: 340px
        
        }
    }

    &--congr { 
        margin-top: 20px;
        display: none;
        width: 400px;
        padding: 23px;
        background: #171727;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        @media screen and (max-width: 480px) {
            width: 340px
        
        }

        &--active {
            display: flex;
        }

        .alert__text {
            width: 219px;
        }
        .alert__congr {
            margin-right: 15px;
        }
    }

    // .alert__text

    &__text {
    }

    // .alert__close

    &__close {
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        cursor: pointer;
        @media screen and (max-width: 480px) {
            right: 15px;
        
        }
    }


    // .alert-wrap

    &__wrap {
        position: fixed;
        display: inline-block;
        right: 60px;
        bottom: 85px;
        right: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 999999;

        @media screen and (max-width: 568px) {
            right: 15px;
        }
    }
}
