.how {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 60px 0;

    // .how__inner

    &__inner {
        width: 100%;
        margin: 0 auto;
    }

    // .how__slider

    &__slider {
        width: 100%;
    }

    // .how__item

    &__item {
        padding-left: 59px;
        @media screen and (max-width: 992px) {
            padding-left: 0;
        }
    }
    // .how__wrap

    &__wrap {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }

    // .how__col

    &__col {
        
    }

    // .how__title

    &__title {
        font-size: 24px;
        color: $secondary;
        font-weight: 600;
        margin-bottom: 35px;
        @media screen and (max-width: 992px) {
            
            font-size: 18px;

        }
        
    }

    // .how__desc

    &__desc {
        width: 100%;
        max-width: 420px;
        @media screen and (max-width: 992px) {
            max-width: 100%;
            margin-bottom: 28px;
            font-size: 12px;

        }
    }

    // .how__img

    &__img {
        width: 441px;
        height: 293px;
        overflow: hidden;
        object-fit: cover;
        border-radius: 20px;
        @media screen and (max-width: 992px) {
            width: 100%;
            height: auto;

        }
    }

    // .how__count

    &__count {
        font-weight: 600;
        color: $secondary;
        font-size: 24px;
        @media screen and (max-width: 992px) {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 18px;
        }
    }
    .arrow-wrap {
        bottom: 0;
        width: 64px;
        height: 64px;
        z-index: 50;
        @media screen and (max-width: 992px) {
            position: absolute;
            top: 66%;
        }
    }
    .prev {
        left: 65px;
        @media screen and (max-width: 992px) {
            left: 15px;
        }
    
    }
    .next {
        left: 170px;
        @media screen and (max-width: 992px) {
            left: auto;
            right: 15px;
        }
    }
}
