.plat {
    width: 100%;
    padding: 62px 136px;
    margin: 0 auto;
    min-height: calc(100vh - 377px);
    // .plat__inner 

    &__inner {
    }

    @media screen and (max-width: 992px) {
        padding: 50px 0;
    }

    // .plat__nav

    &__nav {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:992px) {
            display: none;
        }
    }

    // .plat__link

    &__link {
        width: 100%;
        display: inline-block;
        max-width: 252px;
        padding-bottom: 12px;
        text-align: center;
        position: relative;
        color: #9e9ee0;
        font-weight: 500;
        font-size: 16px;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #9E9EE0;
            bottom: 0;
            left: 0;
        }
        &--active {
            color: #fff;
            &::after {
                background: linear-gradient(90deg, #E70873 0%, #FF14AB 100%);;
            }
        }
    }
    &__link + &__link {
        margin-left: 15px;
    }

}

