.progress {
    width: 100%;
    margin: 0 auto;
    margin: 71px 0;
    // .progress__top

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    // .progress__item

    &__item {


        // .progress__item--active

        &--active {
            
            .progress__circle::after {
                opacity: 100%;
            }
            .progress__title {
                font-weight: 700;
            }

        }
    }
    

    // .progress__circle

    &__circle {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background-color: #201839;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid;
        font-weight: 600;
        margin-bottom: 7px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 3px solid #e51bef;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            opacity: 0;
        }
        // .progress__circle--bronze

        &--bronze {
            color: #ffc700;
            border-color: #ffc700;
        }

        // .progress__circle--silver

        &--silver {
            color: #ffffff;
            border-color: #ffffff;
        }

        // .progress__circle--gold

        &--gold {
            color: #ffe603;
            border-color: #ffe603;
        }

        // .progress__circle--platina

        &--platina {
            color: #c1c1e0;
            border-color: #c1c1e0;
        }

        // .progress__circle--legend

        &--legend {
            color: #e51bef;
            border-color: #e51bef;
        }
        
    }

    // .progress__title

    &__title {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
    }

    // .progress__bottom

    &__bottom {
        width: 100%;
        
        
        margin: 0 auto;

    }
    // .progress__bar-wrap

    &__bar-wrap {
        width: 100%;
        margin: 0 auto;
        max-width: 900px;
        margin-bottom: 20px;
        position: relative;
    }
    // .progress__bar

    progress {
        width: 100%;
        height: 4px;
    }
    progress::-webkit-progress-value {
        width: 100%;
        height: 4px;
        margin-bottom: 20px;
        background-color: #ffaf00;
    }

    // .progress__point-wrap

    &__point-wrap {
        position: absolute;
        width: 100%;
        top: 12px;
        left: 0;
        display: flex;
        justify-content: space-between;
    }
    // .progress__point

    &__point {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #fff;
        &--active {
            background-color: #ffaf00;
        }
        
    }

    // .progress__wrap

    &__wrap {
        display: flex;
        justify-content: space-between;
    }

    // .progress__ball

    &__ball {
        font-weight: 500;
        font-size: 14px;
        color: #9e9ee0;
        
        
        &--active {
            color: #fff;
        }
    }
    [tooltip] {
        position: absolute; /* opinion 1 */
      }
      
      /* Applies to all tooltips */
      [tooltip]::before,
      [tooltip]::after {
        text-transform: none; /* opinion 2 */
        font-size: .9em; /* opinion 3 */
        line-height: 1;
        user-select: none;
        pointer-events: none;
        position: absolute;
        display: none;
        opacity: 0;
      }
      [tooltip]::before {
        content: '';
        border: 5px solid transparent; /* opinion 4 */
        z-index: 1001; /* absurdity 1 */
      }
      [tooltip]::after {
        content: attr(tooltip); /* magic! */
        
        /* most of the rest of this is opinion */
        font-family: Helvetica, sans-serif;
        text-align: center;
        
        /* 
          Let the content set the size of the tooltips 
          but this will also keep them from being obnoxious
          */
        min-width: 3em;
        max-width: 21em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1ch 1.5ch;
        border-radius: .3ch;
        box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
        background: #e51bef;
        font-weight: 700;
        color: #fff;
        z-index: 1000; /* absurdity 2 */
      }
      
      /* Make the tooltips respond to hover */
      [tooltip]:hover::before,
      [tooltip]:hover::after {
        display: block;
      }
      
      /* don't show empty tooltips */
      [tooltip='']::before,
      [tooltip='']::after {
        display: none !important;
      }
      
      /* FLOW: UP */
      [tooltip]:not([flow])::before,
      [tooltip][flow^="up"]::before {
        bottom: 100%;
        border-bottom-width: 0;
        border-top-color: #e51bef;
      }
      [tooltip]:not([flow])::after,
      [tooltip][flow^="up"]::after {
        bottom: calc(100% + 5px);
      }
      [tooltip]:not([flow])::before,
      [tooltip]:not([flow])::after,
      [tooltip][flow^="up"]::before,
      [tooltip][flow^="up"]::after {
        left: 30%;
        transform: translate(-50%, -.5em);
      }
      
      /* FLOW: DOWN */
      [tooltip][flow^="down"]::before {
        top: 100%;
        border-top-width: 0;
        border-bottom-color: #e51bef;
      }
      [tooltip][flow^="down"]::after {
        top: calc(100% + 5px);
      }
      [tooltip][flow^="down"]::before,
      [tooltip][flow^="down"]::after {
        left: 30%;
        transform: translate(-50%, .5em);
      }
      
      /* FLOW: LEFT */
      [tooltip][flow^="left"]::before {
        top: 50%;
        border-right-width: 0;
        border-left-color: #e51bef;
        left: calc(0em - 5px);
        transform: translate(-.5em, -50%);
      }
      [tooltip][flow^="left"]::after {
        top: 50%;
        right: calc(100% + 5px);
        transform: translate(-.5em, -50%);
      }
      
      /* FLOW: RIGHT */
      [tooltip][flow^="right"]::before {
        top: 50%;
        border-left-width: 0;
        border-right-color: #e51bef;
        right: calc(0em - 5px);
        transform: translate(.5em, -50%);
      }
      [tooltip][flow^="right"]::after {
        top: 50%;
        left: calc(100% + 5px);
        transform: translate(.5em, -50%);
      }
      
      /* KEYFRAMES */
      @keyframes tooltips-vert {
        to {
          opacity: .9;
          transform: translate(-50%, 0);
        }
      }
      
      @keyframes tooltips-horz {
        to {
          opacity: .9;
          transform: translate(0, -50%);
        }
      }
      
      /* FX All The Things */ 
      [tooltip]:not([flow]):hover::before,
      [tooltip]:not([flow]):hover::after,
      [tooltip][flow^="up"]:hover::before,
      [tooltip][flow^="up"]:hover::after,
      [tooltip][flow^="down"]:hover::before,
      [tooltip][flow^="down"]:hover::after {
        animation: tooltips-vert 300ms ease-out forwards;
      }
      
      [tooltip][flow^="left"]:hover::before,
      [tooltip][flow^="left"]:hover::after,
      [tooltip][flow^="right"]:hover::before,
      [tooltip][flow^="right"]:hover::after {
        animation: tooltips-horz 300ms ease-out forwards;
      }
    
    
    @for $i from 0 through 100 {
        .s#{$i}::before, .s#{$i}::after {
          left: 0%+$i!important;
          
        }
    }
}
