.refer {
    width: 100%;
    margin-bottom: 32px;
    // .refer__title

    &__title {
        font-size: 12px;
        font-weight: 600;
        color: #9e9ee0;
    }

    // .refer__wrap

    &__wrap {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 20px;
        border: 1px solid #9e9ee0;
      

    }

    // .refer__link

    &__link {
        padding: 0;
        
        font-size: 12px;
        background: none;
        color: #fff;
        width: 281px;
        border: none;
    }

    // .refer__copy

    &__copy {
        font-size: 12px;
        color: #9e9ee0;
        cursor: pointer;
    }
}
